<b>Comments within your Code</b>

A vital piece of code writing is including comments within your code. Comments are chunks of text that are written above, below, alongside, etc. lines of code within a cell that is marked as "Code" (or in command mode). These chunks of text will be visable to you, but will NOT be executed as part of the rest of the code. Basically, you are marking your code with commentary -- for your own understanding or to allow someone else reading your code to better understand what you were doing. Get into the practice of writing descriptive comments along with all of your code. While you are learning variaous skills, it will be invaluable for you to notate the purpose of each section of code. Throughout the course lessons, you will find valuable information in the comments that I include in my code.

To create a comment, insert a hashtag before a line of text within a cell that is in command mode. The text will turn green and you will know that it is a comment. See below for what a comment looks like within a cell!

In [ ]:
# this is a comment line

In [ ]:
            # this is just for you!

# Introduction to Data, Datasets, and Basic Python

### What is Data?

Data are individual units of information. In analytics, data are represented by variables. Data can include the names of everyone in a community, the height of each player on a basketball team, the life-expectancy rate for several different countries, a description of symptoms from a patient over the course of a hospital stay, or the text from several articles about a specific topic. Data is endless, and as more avenues become available for collecting information, traditional data is expanding into BIG data.

### Data Types

Main types of values we will be covering in this class are: 

- An int value is an integer (whole numbers)
- A float value is a decimal number
- A string value is alpha-numeric characters that cannot be mathematically computed; can use single or double quotes
- A Boolean value is either True or False

In [ ]:
123      # this is an integer

In [ ]:
1.23     # this is a float

In [ ]:
"123"    # this is a string

In [ ]:
'123'    # this is a string, too

In [ ]:
"I'm a string."

In [ ]:
'I"m a string as well.'

In [ ]:
"\"Hey, me too\", said the next one."   # use an escape key ('\') before double quote (")

In [ ]:
True

In [ ]:
false            # what color is it?

### What is a Variable? 

<b>A variable</b> is a holder or container for a specific value(s). A value can range in type, but regardless of what the value is, the variable holds that information which allows you to call upon it when you need it. Variables can hold one or many values. 

<b>A value</b> is information or data. This can include a number, a sentence, a symbol, an address, etc. The list is endless. Sometimes values are complex and messy, and therefore they are better organized and manipulated when assigned to a variable.

<b>ASSIGNING A VALUE TO A VARIABLE</b>

You can assign any value you choose to any variable you choose. When considering what to name your variables, keep the variable names (1) descriptive, (2) short, and (3) without spaces!

To assign a value to a variable name, you will first write the name of the variable and then add a single equal sign (=), on the right of the equal sign you will write out the value you want to assign that variable.

In [ ]:
# <variable name> = <data value>

x = 123    # variable name is x and it has an integer value of 123
y = 1.23   # variable name is y and it has a float value of 1.23
z = "123"  # varialbe name is z and it has a string value of "123"
z1 = '123' # varialbe name is z1 and it has a string value of '123'

<b>OUTPUTTING THE VALUE OF A VARIABLE</b>

What use is a variable if you can never see what value(s) it contains? Throughout this course, you will learn to explore and manipulate the data that is stored within variables. However, before we get too fancy, we have to learn how to display the values that are contained within our variables. We can do this easily by simply typing the variable name in a cell and running that cell -- the output beneath the cell will display the value stored within the variable.

In [ ]:
x          # this statement will print the value of x

In [ ]:
rate = 2.625%

In [ ]:
# % is an arithematic operator


rate = 0.02625
rate

In [ ]:
found = True    # use a verb to hold Boolean value
found

In [ ]:
# variable names start with a letter or underscore (_)

_12th = 3
_12th

In [ ]:
12th = 100
12th

In [ ]:
# a variable name must start with a letter or underscore (_)


th12=100
th12

In [ ]:
# variable naming convention

firstName = "camel type"
first_name = "snake type"
firstname = "not very good type"

In [ ]:
# variable can hold any data type in Python
value = 20877
value

In [ ]:
value = "20877"
value

In [ ]:
value = 208.77
value

###  Exercise 1

- Open Jupyter Notebook file named exercise1
- On each cell, create a variable called: 
    - my_name : assign a <b>string</b> value and display its value
    - month : assign an <b>integer</b> number and display its value
    - gpa : assign a <b>float</b> number and display its value


- Run each cell at a time
- Create a new cell and reassign all three variables to new values and display each value
- Run the new cell

In [3]:
# my_name : assign a string value and display its value
my_name = 'Ancy'
my_name

'Ancy'

In [4]:
# month : assign an integer number and display its value
month = 9

In [ ]:
# gpa : assign a float number and display its value

In [6]:
my_name = 'Ancy'                             # give a new value
month = 9                               # give a new value
gpa = 4.5                                 # give a new value

In [7]:
# run this cell and see what happens
my_name
month
gpa

4.5

<b>PRINTING THE VALUES OF A VARIABLE</b>

The <b>PRINT FUNCTION</b> commands the system to output the values of one or multiple variables. This function comes in handy when you want to see multiple values output together (combating the problem we just saw above). The print function also allows you to display more complex data than just a single value. We will explore more of what this looks like later on -- but for now, get familiar with how the print function works.

In [ ]:
print("Hello, world")

In [ ]:
print(my_name)
print(month)
print(gpa)

In [ ]:
print("One of Python's strength is its diverse community.")

In [ ]:
print("text with\t1 tab\t\t2 tabs")

In [ ]:
print("this is \nmultiple\nlines\nof text")

In [ ]:
print("""this is 
multiple 
lines 
of 
strings in Python""")    # this is a doc-string or block string

In [ ]:
print(value)             # where did 'value' variable come from?

In [ ]:
print("Hello, ", my_name)

In [ ]:
greetings = "Hello"
first_name = "Elmo"

In [ ]:
print(greetings, firstname)  # what's the result?  why?

In [ ]:
print(first_name, last_name)  # what's the result?  why?

In [ ]:
print(1, 2, 3, 4, 5)

In [ ]:
print(1, 2, 3, 4, 5, sep='*')

In [ ]:
print(1, 2, 3, 4, 5, end='**')
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)

In [ ]:
EOL = '|'
DELIMITER = '\t'
print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)      # user all upper cases for constant variable
print(1, 2, 3, 4, 5, sep=DELIMITER)
print(1, 2, 3, 4, 5, sep=DELIMITER)

In [ ]:
val1 = 20877
val2 = "20877"
val3 = 208.77
print(val1)
print(val2)
print(val3)

<b>OUTPUTTING THE TYPES OF DATA WITHIN A VARIABLE</b>

The <b>TYPE FUNCTION</b> commands the system to output the 'variable type' information that is stored within a specific variable. Different variable types require specific codes, therefore, it is always important to be aware of the type of variables you are working with. The type function will read the variable name and output the type of variable that it is.

In [ ]:
type(val1)

In [ ]:
type(val2)

In [ ]:
print(type(val1))
print(type(val2))
print(type(val3))

### Arithmetic Operators
    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division

In [ ]:
numb1 = 25
numb2 = 5

In [ ]:
print(numb1 + numb2)

In [ ]:
print(numb1 - numb2)

In [ ]:
numb2 = 4
numb1 // numb2

In [ ]:
numb1 / numb2

In [ ]:
numb1 % numb2

In [ ]:
numb1 - ((numb1 // numb2) * numb2)   # 25 - (6 * 4)

In [ ]:
numb1 % numb2 + 1        # what is going on?

In [ ]:
numb1 % (numb2 + 1)  # 25 % (4+1)

In [ ]:
result = 0
result = result + 3
print(result)

### Arithmetic Compound Operators
    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b

In [ ]:
result = 0
result += 3
print(result)

In [ ]:
new_value += 2  # new_value = new_value + 2
print(new_value)

In [ ]:
new_value = 0
new_value += 2  # new_value = new_value + 2
print(new_value)

In [ ]:
result *= 5
print(result)

In [ ]:
result /= 5
print(result)

In [ ]:
10 / 2

In [ ]:
new_value = 8
new_value %= 5
print(new_value)

In [ ]:
new_value = 8
new_value //= 5
print(new_value)

### String Operations
    + : concatenation
    * : repeat

In [ ]:
message = "secret"
print(message+message)

In [ ]:
print(message*5)

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [ ]:
first_name = "Cookie"
last_name = "Monster"

In [ ]:
print("The main character is {first_name} {last_name}.")

In [ ]:
print(f"The main character is {first_name} {last_name}.")

In [ ]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

In [ ]:
print(f"Amount is {amount:,.3%}")

In [ ]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

In [ ]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

In [ ]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

In [ ]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

In [ ]:
x = 123.45143
print(f"{x:.3f}")

In [ ]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

In [ ]:
print(f"Current rate: {rate:.9%}")

###  Exercise 2

- Fix the Python code on the next cell.  It is calculating the sales tax and total price (including sales tax) for 10 books when the price of a book is $49.95 and the tax rate is 6.5%
- Show your code works in nice readable format

In [ ]:
price = $49.95
qty = 10
tax = 6.5
subtotal = price ** qty
total = sub_total + tax

In [ ]:
# use formatted string
print(f"Price:\t\t${book_price:.2f}")
print("Quantity:\t{qty}")
print("-" + 30)
print(f"Subtotal:\t${subtotal:.3f}")
print(f"Sales Tax:\t{sales_tax:.2$}")
print("=" * 30)
print(f"Total:\t\t{total_price:$.2}")

### Built-in Functions: 
    input([prompt]) : retrieves a string from a user
    int(arg)        : converts arg into an integer value
    float(arg)      : converts arg into a float value
    str(arg)        : converts arg into a string value

In [ ]:
input()   # notice In[*]

In [ ]:
print("Enter your first name:")
first_name = input()
print("Hello, " + first_name + '!')

In [ ]:
print("What is your name?", end="  ")
first_name = input()
print("Hello, " + first_name + '!')

In [ ]:
first_name = input("Enter your first name: ")
print("Hello, " + first_name + '!')

In [ ]:
prompt = ">"
print("Enter a number:")
numb1 = input(prompt)
print("Enter next number:")
numb2 = input(prompt)
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

In [ ]:
int("123")

In [ ]:
int(123.999)

In [ ]:
int("abc")

In [ ]:
float(123)

In [ ]:
float("123.99")

In [ ]:
str(123)

In [ ]:
str(123.999)

In [ ]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

In [ ]:
print(f"{numb1} + {numb2} = {numb1 + numb2}")
print(f"{numb1} - {numb2} = {numb1 - numb2}")
print(f"{numb1} * {numb2} = {numb1 * numb2}")
print(f"{numb1} / {numb2} = {numb1 / numb2}")

###  Exercise 3

- Copy and paste the Exercise 2 solution cell.
- Modify the code to ask a user for price and quantity of a book.
- Use the copied solution cell to calculate new total.
- Show your code works in nice readable format - using previous solution.

In [ ]:
# ask a user for the price of a book

In [ ]:
# ask a user for the quantity of a book

In [ ]:
# copy and paste the Exercise 2 solution, and run